
@{
    ViewBag.TitlePage = "Quản lý thể loại";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<WebXemPhim.Models.TheLoai>

@section ScriptCategory{
    <script src="~/JS/script-form-category.js"></script>
    <script src="~/JS/script-check-category.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        $('.category-text-search').on('input', function () {
            var searchTerm = $(this).val();

            $.ajax({
                url: '@Url.Action("SearchCategorys", "AdminCategory")',
                type: 'GET',
                data: { searchTerm: searchTerm },
                success: function (data) {
                    var tbody = $('tbody');
                    tbody.empty();

                    $.each(data, function (index, cate) {
                        tbody.append(
                            '<tr>' +
                            '<td class="categoty-id">' + cate.IDTheLoai + '</td>' +
                            '<td class="category-name">' + cate.TenTheLoai + '</td>' +
                            '<td class="user-action">' +
                                '<div class="btn-changeCategory"><i class="ri-pencil-fill icon-change js-changeCategory"></i></div>' +
                                '<div class="btn-deleteCategory"><i class="ri-delete-bin-line icon-delete js-deleteCategory"></i></div>' +
                            '</td>' +
                            '</tr>'
                        );
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
    </script>
}

<div class="wrapper-content">
    <div class="table-header">
        <h3 class="main-title">
            Thông tin thể loại
        </h3>
        <div class="movie-search">
            <input type="text" class="category-text-search text-search" placeholder="Tìm kiếm...">
            <i class="ri-search-line icon-search"></i>
        </div>
        <div class="add-movie js-add-category"><i class="ri-add-large-line icon-add"></i>Thêm thể loại</div>
    </div>
</div>
<div class="wrapper-content wrapper-content-body">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên thể loại</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="category-id">@item.IDTheLoai</td>
                    <td class="category-name">@item.TenTheLoai</td>
                    <td class="user-action">
                        <div class="btn-changeCategory">
                            <i class="ri-pencil-fill icon-change js-changeCategory"></i>
                        </div>
                        <div class="btn-deleteCategory">
                            <i class="ri-delete-bin-line icon-delete js-deleteCategory"></i>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var page = Request.QueryString["page"];
        int currentPage = 1;
        if (!string.IsNullOrEmpty(page))
        {
            int.TryParse(page, out currentPage);
        }
    }
    <div class="pagination">
        @{
            int PrevPage = ViewBag.Page - 1;
            if (PrevPage <= 0)
            {
                PrevPage = 1;
            }
            int NextPage = ViewBag.Page + 1;
            if (NextPage > ViewBag.NoOfPages)
            {
                NextPage = ViewBag.NoOfPages;
            }
        }
        <a href="/AdminCategory/Index?page=@PrevPage" class="prev">Trước</a>
        @for (int i = 0; i < ViewBag.NoOfPages; i++)
        {
            var pageIndex = i + 1;
            <a href="/AdminCategory/Index?page=@pageIndex" class="@(pageIndex == currentPage ? "page-current" : "")">@pageIndex</a>
        }
        <a href="/AdminCategory/Index?page=@NextPage" class="next">Sau</a>
    </div>
</div>

<form class="form-with-toast" action="~/AdminCategory/AddCategory" method="post" enctype="multipart/form-data">
    <div class="modal js-modal-addCategory">
        <div class="modal-container modal-container-passwordAdmin js-modal-addCategory-container modal-small">
            <div class="modal-close js-modal-addCategory-close">
                <i class="ri-close-large-line"></i>
            </div>

            <header class="modal-header modal-header-movies">
                <i class="ri-list-check"></i>
                Thêm thể loại
            </header>

            <div class="modal-content">
                <div class="modal-col">
                    <label for="category-name" class="modal-label">
                        Tên thể loại
                        <input name="TenTheLoai" id="category-name" type="text" class="js-category-name modal-input" placeholder="Tên thể loại...">
                        <span class="check-error name-addCategory-error"></span>
                    </label>
                </div>
                <div class="action-form">
                    <div class="cancel-movie js-cancel-category">
                        Trở lại
                    </div>
                    <input type="submit" class="submit-movie js-addCategory" value="Thêm"
                           data-toast-title="Thành công"
                           data-toast-message="Thêm thể loại phim thành công"
                           data-toast-type="success"
                           data-toast-duration="3000"
                           onclick="return checkAddCategory()">
                </div>
            </div>
        </div>
    </div>
</form>

<form class="form-with-toast" action="~/AdminCategory/UpdateCategory" method="post" enctype="multipart/form-data">
    <div class="modal js-modal-changeCategory">
        <div class="modal-container modal-container-passwordAdmin js-modal-changeCategory-container modal-small">
            <div class="modal-close js-modal-changeCategory-close">
                <i class="ri-close-large-line"></i>
            </div>

            <header class="modal-header modal-header-movies">
                <i class="ri-list-check"></i>
                Cập nhật thể loại
            </header>

            <div class="modal-content">
                <div class="modal-col">
                    <input name="IDTheLoai" type="hidden" class="js-category-id-change modal-input">
                    <label for="category-name-change" class="modal-label">
                        Tên thể loại
                        <input name="TenTheLoai" id="category-name-change" type="text" class="js-category-name-change modal-input" placeholder="Tên thể loại...">
                        <span class="check-error name-changeCategory-error"></span>
                    </label>
                </div>
                <div class="action-form">
                    <div class="cancel-movie js-cancel-category-change">
                        Trở lại
                    </div>
                    <input type="submit"
                           data-toast-title="Thành công"
                           data-toast-message="Cập nhật thể loại phim thành công"
                           data-toast-type="success"
                           data-toast-duration="3000"
                           class="submit-movie js-btnChangeCategory" onclick="return checkUpdateCategory()" value="Cập nhật" />
                </div>
            </div>
        </div>
    </div>
</form>

<form class="form-with-toast" action="~/AdminCategory/DeleteCategory" method="post" enctype="multipart/form-data">
    <div class="modal-delete js-modal-deleteCategory">
        <div class="modal-delete-container js-modal-deleteCategory-container">
            <div class="modal-delete-close js-modal-deleteCategory-close">
                <i class="ri-close-large-line"></i>
            </div>
            <div class="modal-delete-body">
                <input name="IDTheLoai" type="hidden" class="js-category-id-delete modal-input">
                <p>Bạn có chắc muốn xóa thể loại này?</p>
                <div class="btn-delete-choose">
                    <input type="submit" value="Có"
                           data-toast-title="Thành công"
                           data-toast-message="Xóa thể loại phim thành công"
                           data-toast-type="success"
                           data-toast-duration="3000"
                           class="btn-yes js-category-btn-yes" />
                    <div class="btn-no js-category-btn-no">
                        <a href="#">Không</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

